body {
  background: #0e1021;
  color: #b0b0b0;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  padding: 10vh 10vw;
  height: 100vh;
  weight: 100vw;
  margin: 0;
  letter-spacing: 0.2px;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.App-header {
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 60%;
  padding-bottom: 20px;
  position: relative;
}

@media (max-width: 768px) {
  .App-header {
    width: 80%;
  }
}
@media (max-width: 580px) {
  .App-header {
    width: 100%;
  }
}
.App-header .errorMessage {
  color: #da5656;
}

.App-header .siteDescription {
  margin-top: 10vh;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  color: rgba(145, 145, 145, 0.75);
}

.inputForm {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.inputForm input {
  width: 70%;
  height: 32px;
  border: 2px solid white;
  border-radius: 5px;
  margin-right: 1em;
  padding: 2px 20px;
  font-size: 16px;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  outline: none;
}

@media (max-width: 425px) {
  .inputForm input {
    width: 55%;
    margin-right: 0.6em;
  }
}
@media (max-width: 320px) {
  .inputForm input {
    font-size: 14px;
    width: 57%;
  }
}
.inputForm input:hover {
  border-color: #ffcb47;
}

.inputForm input:focus {
  border-color: #ffcb47;
  box-shadow: 0 0 8px rgba(245, 217, 141, 0.75);
}

.inputForm button {
  width: 20%;
  height: 39px;
  background-color: #fdca43;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #0e1021;
  transition: background-color 0.2s ease;
}

.inputForm button:hover {
  background-color: #fcb810;
}

@media (max-width: 425px) {
  .inputForm button {
    width: 30%;
  }
}
@media (max-width: 320px) {
  .inputForm button {
    font-size: 14px;
    width: 32%;
  }
}
.localStorageButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
}

.localStorageButtons .localStorageButton {
  background: none;
  border: none;
  color: #cecece;
  cursor: pointer;
  padding: 0;
  font-size: 16px;
  margin-right: 12px;
}

.localStorageButtons .localStorageButton:hover {
  color: #ffcb47;
  text-decoration: underline;
}

.autocompleteList {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: absolute;
  top: 36px;
  z-index: 1;
  border-radius: 0 0 5px 5px;
  color: #0e1021;
}

@media (max-width: 2560px) {
  .autocompleteList {
    width: 73.6%;
  }
}
@media (max-width: 1920px) {
  .autocompleteList {
    width: 74.8%;
  }
}
@media (max-width: 1600px) {
  .autocompleteList {
    width: 75.7%;
  }
}
@media (max-width: 1440px) {
  .autocompleteList {
    width: 76.36%;
  }
}
@media (max-width: 1024px) {
  .autocompleteList {
    width: 77.2%;
  }
}
@media (max-width: 425px) {
  .autocompleteList {
    width: 67.5%;
  }
}
@media (max-width: 375px) {
  .autocompleteList {
    width: 67.6%;
  }
}
@media (max-width: 320px) {
  .autocompleteList {
    width: 67.7%;
  }
}
.autocompleteList .autocompleteButton {
  background: none;
  border: none;
  color: #0e1021;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
}

.autocompleteList .autocompleteButton p {
  margin: 0;
}

.autocompleteList .autocompleteButton .autocompleteCityName {
  font-size: 16px;
  font-weight: 500;
}

.autocompleteList .autocompleteButton .autocompleteCountryName {
  color: #5e5e5e;
}

.autocompleteList .autocompleteButton:hover {
  background-color: #ffe08b;
}

.errorMessage {
  width: 100%;
  max-width: 500px;
}

.weatherRightNow {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 60px 0 40px 0;
}

@media (max-width: 768px) {
  .weatherRightNow {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .weatherRightNow {
    flex-wrap: wrap;
  }
}
.weatherRightNow > div:not(:last-child) {
  margin-right: 4vw;
}

.weatherInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.weatherInfo .cityName {
  font-size: 24px;
  font-weight: bold;
  color: #cecece;
  letter-spacing: 0.7px;
  text-align: center;
}

@media (max-width: 425px) {
  .weatherInfo .cityName {
    max-width: 120px;
  }
}
@media (max-width: 320px) {
  .weatherInfo .cityName {
    font-size: 23px;
  }
}
.weatherRightNowIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weatherRightNowIcon .weatherRightNowIconImg {
  width: 100px;
  height: 100px;
}

.weatherRightNowIcon p {
  position: relative;
  text-align: center;
  top: -30px;
  max-width: 100px;
}

.weatherTemperature {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 54px;
}

@media (max-width: 320px) {
  .weatherTemperature {
    font-size: 42px;
  }
}
.weatherDescription {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 18px;
}

.weatherDescription > div:not(:last-child) {
  margin-bottom: 5px;
}

.forecastList {
  width: 100%;
  display: grid;
  grid-column-gap: 40px;
  grid-row-gap: 30px;
}

@media (max-width: 2560px) {
  .forecastList {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 1440px) {
  .forecastList {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1024px) {
  .forecastList {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 425px) {
  .forecastList {
    grid-template-columns: repeat(1, 1fr);
  }
}
.forecastList .forecastListItem {
  align-items: center;
  list-style-type: none;
  padding: 0;
}

@media (max-width: 425px) {
  .forecastList .forecastListItem {
    padding: 0;
  }
}
.forecastList .forecastListItem .forecastListDateItem {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.7px;
  color: #cecece;
  padding-bottom: 10px;
}

.forecastList .forecastListItem ul {
  margin: 0;
  padding: 0;
}

.forecastList .forecastListItem ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
}

@media (max-width: 768px) {
  .forecastList .forecastListItem ul li {
    margin-bottom: 6px;
    max-width: 260px;
  }
}
@media (max-width: 425px) {
  .forecastList .forecastListItem ul li {
    margin-bottom: 0px;
    max-width: none;
  }
}
.forecastList .forecastListItem ul li p {
  margin: 0;
}

.weatherIcon {
  width: 50px;
}



/*# sourceMappingURL=App.css.map */
